language: php
sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.2

before_install:
  - composer self-update

install:
  - composer install

before_script:
  - php bin/console doctrine:schema:update --force

script:
  - ./vendor/bin/simple-phpunit
  - ./vendor/bin/php-cs-fixer fix --diff --dry-run -v

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    - php ocular.phar code-coverage:upload --access-token="a1923083f07010e070df184d69606b96a5fb46c6824e02dafd874b93e598bf72" --format=php-clover coverage.clover
