parameters:
    env(DATABASE_URL): 'sqlite:///%kernel.project_dir%/var/data/ci.sqlite'

    # If you don't use a real mail server, you can send emails via your Gmail account.
    # see https://symfony.com/doc/current/cookbook/email/gmail.html
    env(MAILER_URL): 'smtp://localhost:25?encryption=&auth_mode='

    # A secret key that's used to generate certain security-related tokens
    env(SYMFONY_SECRET): 'secret_value_change_it'

    # Destination for log files; can also be "php://stderr" etc
    env(LOG_URL): '%kernel.logs_dir%/%kernel.environment%.log'

    # Gitlab config
    env(GITLAB_TOKEN): 'xxx'
    env(GITLAB_URL): http://gitlab.domain.xx/api/v3/
    env(GITLAB_DEFAULT_BRANCH): 'develop'
    env(GITLAB_MINIMUM_VOTE_UP): 2
    env(GITLAB_AUTO_MERGE): true
    env(GITLAB_BOT_USERNAME): 'deadpool'
    env(GITLAB_MERGE_MUST_BE_APPROVED): false

    # Token for security
    env(GITLAB_BOT_TOKEN): 1x4c40nwh96080gk70f7k5awz9k6tczqs3jr01z94849n